h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
h3 div{
    display: none;
}
h3:hover div{
    display: inline;
}
.cv {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cv_mob {
    display: none;
}

.cv-container {
    display: flex;
}

.cv-item {
    background: #ffcb0e65;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    transition: transform 0.3s ease;
    border: 3px #46000059 solid;
    text-align: center;
}

.cv-item:hover {
    transform: scale(1.05);
}

.cv_1,.cv_2,.cv_3,.cv_4,.cv_5,.cv_6{
    display: none;
    gap: 10px;
    padding: 5px;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 1160px) {
    .cv {
        display: none;
    }
    .cv_mob {
        display: block;
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}